{% extends "base.html" %}

{% block title %}Edit Skill{% endblock %}

{% block content %}
<div class="row justify-content-center mb-5">
    <div class="col-lg-6">
        <div class="bg-white p-5 rounded-3 shadow-sm">
            <h1 class="h3 mb-2">Edit Skill</h1>
            <p class="text-muted mb-4">Update skill information</p>

            <form method="post" novalidate>
                {% csrf_token %}
                {{ form }}
                <p>Last updated at: {{skill.updated_at|date:"F j, Y, g:i a" }}</p>
                <div class="d-flex gap-2 pt-3">
                    <button type="submit" class="btn btn-primary flex-grow-1">Save Changes</button>
                    <a href="{%url 'skill_detail' skill.slug%}" class="btn btn-outline-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}